config filter
	option enabled 0            # default 1
	option interface 'wan'   # UCI (not kernel) name of interface; required
	# Whether or not to include delegated prefixes (e.g., from DHCPv6-PD)
	option include_delegated 1  # default 1
	option allow_multicast 1    # allow incoming multicast; default 1
	# static prefixes to treat as locally-originating, if any
	list whitelist '2001:db8:5:1::/64'
	# static prefixes to override as non-local, if any
	list blacklist '2001:db8:2::/48'

# The defaults are such that the following config section is usually reasonable,
# simply replacing 'foobar' with the UCI name of your external-facing interface:
#config filter
#	option interface 'foobar'
